
.achievement-section-3{
    background: url('../../../assets/img/desktop-with-computer-cloud-computing-screen-modern-home-office-with-cloud-computing-concept.jpg');

    background-size: 100%;
    background-attachment: fixed;

}

.counter-container{
    color: white;
}
.counter-container h2{
    color: white;
}

.achivement-bg{
    background-color: rgba(0, 0, 0, 0.475);
    border-radius: 5px;
    height: 100%;
}

.achievement-section-3 i{
    font-size: 45px;
}