.brand-wrapper .brand-image{
    filter: grayscale(0) !important;
    opacity: 1 !important;
}

.brand-wrapper .brand-image{
    /* background:  rgb(239, 239, 239) !important; */
    padding: 10px !important;
    box-shadow: 0 0 8px ;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 2px;
    margin: 10px 0;
}

.brand-wrapper .brand-image img{
    width: 100% !important;
    /* padding: 10px; */
}