.card iframe {
    width: 100%;
    height: 200px;
    border: none;
}

.testimonial-video-section{
    background: #002c89;
    color: white;
}
.testimonial-video-section h3{
    background: #002c89;
    color: white;
}