.news-card-items{
    box-shadow: 0px 0px 4px rgb(198, 198, 198);
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}

.id1.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}
.id2.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}
.id3.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}

.id4.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}
.id5.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}
.id6.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}
.id7.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}
.id8.active{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}