.card4 .image-container{
    background-color: #2198d5;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    border-radius: 50%;
}

.card4 .image-container img{
    width: 100px;
    height: 100px;
}

.card4 .card{
    border: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(219, 219, 219);
}
