@media (min-width: 1200px) {
    .footer-widgets-wrapper .single-footer-widget.style-margin {
        margin-left: 0px;
    }
}

.footer-widgets-wrapper{
    padding-bottom: 50px !important;
    padding-top: 0px !important;
}

.footer-widgets-wrapper .single-footer-widget .footer-content .social-icon a{
    border-radius: 50%;
    border: 2px dashed rgba(227, 227, 227, 0.2);
    line-height: 31px;
    transition: all 0.3s ease-in-out;
    
    

}

.footer-widgets-wrapper .single-footer-widget .footer-content .social-icon a:hover{
    transform: translateY(-15px);
    background-color: blue;
    box-shadow: 1px 1px 10px rgb(193, 193, 193);
}

.contact-info-area{
    align-items:flex-start;
}

.contact-info-area .contact-info-items:not(:last-child){
    padding-right: 0;
}

.contact-info-area .contact-info-items{
    align-items: flex-start !important;
}

.contact-info-area{
    padding-top: 50px;
}

.footer-widgets-wrapper{
    padding: 50px 0;
}


.footer-section .non-active1{
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.footer-section .active1{
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out 0.5s;
}

.footer-section .non-active2{
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.footer-section .active2{
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out .8s;
}

.footer-section .non-active3{
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.footer-section .active3{
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out 1.1s;
}




.footer-section .one{
    opacity: 0;
    transition: all 0.5s ease-in-out 1.2s;
}
.footer-section .one.active{
    opacity: 1;
    transition: all 0.5s ease-in-out 1.2s;
}

.footer-section .two{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.footer-section .two.active{
    opacity: 1;
    transition: all 0.5s ease-in-out 1.4s;
}

.footer-section .three{
    opacity: 0;
    transition: all 0.5s ease-in-out ;
}
.footer-section .three.active{
    opacity: 1;
    transition: all 0.5s ease-in-out 1.6s;
}

.footer-section .four{
    opacity: 0;
    transition: all 0.5s ease-in-out ;
}
.footer-section .four.active{
    opacity: 1;
    transition: all 0.5s ease-in-out 1.8s;
}


.footer-section .index1{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out ;
}
.footer-section .index1.active{
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out 2s;
}

.footer-section .index2{
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-in-out ;
}
.footer-section .index2.active{
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out 2s;
}

.footer-section{
    overflow: hidden;
}

.contact-info-area .contact-info-items .content h3 {
    font-size: 16px;
}

.contact-info-area .contact-info-items .content p {
    color: var(--white);
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.contact-info-area .contact-info-items .content h3 a {
    color: var(--white);
    font-size: 16px;
}

.social-icon .s1:hover{
    background: #0e8ef2 !important;
    border: none;
}
.social-icon .s2:hover{
    background: #1d9ceb !important;
    border: none;
}
.social-icon .s3:hover{
    background: #0073ae !important;
    border: none;
}
.social-icon .s4:hover{
    background: #FF0000 !important;
    border: none;
}
.social-icon .s5:hover{
    background: #00AFF0 !important;
    border: none !important;
}

.contact-info-area .contact-info-items:not(:last-child) {
    border-right: none;
}

@media (max-width: 768px){
    .contact-info-area {
        flex-direction: column;
    }
}